In [1]:
import pandas as pd
import os
import warnings
warnings.filterwarnings('ignore')

In [2]:
os.chdir('/Users/TigeressQueen/Downloads/Python for Data Science/DS_mod5/data')

In [3]:
dataset = pd.read_csv('Salaries.csv')

In [100]:
#read the first 5 records
print (dataset.head(5))

#data information
print (dataset.info())

#statistical summary of data
print (dataset.describe())

   Id       EmployeeName                                        JobTitle  \
0   1     NATHANIEL FORD  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1   2       GARY JIMENEZ                 CAPTAIN III (POLICE DEPARTMENT)
2   3     ALBERT PARDINI                 CAPTAIN III (POLICE DEPARTMENT)
3   4  CHRISTOPHER CHONG            WIRE ROPE CABLE MAINTENANCE MECHANIC
4   5    PATRICK GARDNER    DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)

     BasePay  OvertimePay   OtherPay  Benefits   TotalPay  TotalPayBenefits  \
0  167411.18         0.00  400184.25       NaN  567595.43         567595.43
1  155966.02    245131.88  137811.38       NaN  538909.28         538909.28
2  212739.13    106088.18   16452.60       NaN  335279.91         335279.91
3   77916.00     56120.71  198306.90       NaN  332343.61         332343.61
4  134401.60      9737.00  182234.59       NaN  326373.19         326373.19

   Year  Notes         Agency Status
0  2011    NaN  San Francisco    NaN
1  2011    NaN  San Francisco    NaN
2  2011    NaN  San Francisco    NaN
3  2011    NaN  San Francisco    NaN
4  2011    NaN  San Francisco    NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148648 entries, 0 to 148647
Data columns (total 13 columns):
Id                  148648 non-null int64
EmployeeName        148648 non-null object
JobTitle            148648 non-null object
BasePay             148043 non-null float64
OvertimePay         148648 non-null float64
OtherPay            148648 non-null float64
Benefits            112490 non-null float64
TotalPay            148648 non-null float64
TotalPayBenefits    148648 non-null float64
Year                148648 non-null int64
Notes               0 non-null float64
Agency              148648 non-null object
Status              38119 non-null object
dtypes: float64(7), int64(2), object(4)
memory usage: 14.7+ MB
None
                  Id        BasePay    OvertimePay       OtherPay  \
count  148648.000000  148043.000000  148648.000000  148648.000000
mean    74326.110220   66325.398119    5065.821161    3648.761721
std     42911.633315   42764.898947   11454.266982    8056.655841
min         1.000000    -166.010000      -0.010000   -7058.590000
25%     37163.750000   33587.350000       0.000000       0.000000
50%     74326.500000   65007.450000       0.000000     811.205000
75%    111488.250000   94691.050000    4657.597500    4236.035000
max    148654.000000  319275.010000  245131.880000  400184.250000

            Benefits       TotalPay  TotalPayBenefits           Year  Notes
count  112490.000000  148648.000000     148648.000000  148648.000000    0.0
mean    25007.777439   74770.035453      93694.776345    2012.522617    NaN
std     15402.235424   50516.440633      62792.743250       1.117526    NaN
min       -33.890000    -618.130000       -618.130000    2011.000000    NaN
25%     11535.192500   36169.370000      44072.062500    2012.000000    NaN
50%     28628.365000   71427.130000      92406.020000    2013.000000    NaN
75%     35566.790000  105840.920000     132876.997500    2014.000000    NaN
max     96570.660000  567595.430000     567595.430000    2014.000000    NaN

In [131]:
#Compute how much total salary cost has increased from year 2011 to 2014

year = dataset.groupby('Year').sum()['TotalPayBenefits']
print (year)

Year
2011    2.594113e+09
2012    3.696790e+09
2013    3.814772e+09
2014    3.821866e+09
Name: TotalPayBenefits, dtype: float64

In [4]:
# Check the mean salary cost per year and see how it has increased per year
years = dataset.groupby('Year').mean()['TotalPayBenefits']
print (years)

Year
2011     71743.819645
2012    100551.886807
2013    101440.519714
2014    100261.438668
Name: TotalPayBenefits, dtype: float64

In [6]:
diff = []
for i in range(0,3):
    i+=1
    d = years.values[i] - years.values[i-1]
    diff.append(d)
print ("Profit year difference:", diff , '\n')
print ('Total profit year difference from 2012 to 2014 is ', years.values.mean())

Profit year difference: [28808.06716185191, 888.6329073952074, -1179.0810457599146]

Total profit year difference from 2012 to 2014 is  93499.41620853971

In [121]:
#Which Job Title in Year 2014 has highest mean salary?

job2014 = dataset[dataset['Year']==2014]
jobtitle = job2014.groupby('JobTitle').mean()['TotalPayBenefits']
jobtitle_high_salary = jobtitle.sort_values(ascending=False).head(5)
print (jobtitle_high_salary)
print ("\n","The job title in year 2014 with the highest mean salary is",jobtitle_high_salary.index[0])

JobTitle
Chief Investment Officer       436224.36
Chief of Police                418019.22
Chief, Fire Department         417435.10
Gen Mgr, Public Trnsp Dept     379918.72
Dep Chf of Dept (Fire Dept)    368006.35
Name: TotalPayBenefits, dtype: float64

 The job title in year 2014 with the highest mean salary is Chief Investment Officer

In [123]:
#How much money could have been saved in Year 2014 by stopping OverTimePay?

year_2014 = dataset[dataset['Year']==2014]
saved = year_2014['OvertimePay'].sum()
print ("Money saved in 2014 without OvertimePay would be" , saved)

Money saved in 2014 without OvertimePay would be 205918599.26999998

In [124]:
#Which are the top 5 common job in Year 2014 and how much do they cost SFO ?

employee_2014 = dataset[dataset['Year']==2014]
profile = employee_2014['JobTitle'].value_counts()
top_5 = profile.head(5)
print (top_5)

Transit Operator                2479
Special Nurse                   1478
Registered Nurse                1234
Public Svc Aide-Public Works     916
Firefighter                      815
Name: JobTitle, dtype: int64

In [126]:
job2014 = dataset[dataset['Year']==2014]
job_2014 = job2014.groupby('JobTitle').sum()['TotalPayBenefits']
print (job_2014.head(5))

JobTitle
ACPO,JuvP, Juv Prob (SFERS)       80266.37
ASR Senior Office Specialist    1925501.44
ASR-Office Assistant            1002259.44
Account Clerk                   5135754.45
Accountant I                     128356.66
Name: TotalPayBenefits, dtype: float64

In [142]:
sum = 0
for i in top_5.index:
    frame = job_2014[(job_2014.index)==i]
    sum = frame.values.sum() + sum
print ('Total Cost of Top 5 Jobs in Year 2014 is ', sum)

Total Cost of Top 5 Jobs in Year 2014 is  610269227.6600003

In [129]:
#Who was the top earning employee across all the years?

top_earning = dataset.groupby('EmployeeName').sum()['TotalPayBenefits']
print (top_earning.sort_values(ascending=False))

#Kevin Lee earned the highest across all the years.

EmployeeName
Kevin Lee                1778487.17
Steven Lee               1706550.76
William Wong             1459954.17
Stanley Lee              1457279.68
Richard Lee              1268668.84
John L Martin            1054756.22
Wayne Wong               1021109.55
Alan Wong                1011610.58
John Chan                 946239.26
Michael Brown             907786.48
Robert Wong               901466.16
John Miller               874900.73
Amy P Hart                863398.99
David Shinn               844056.71
Gregory P Suhr            843834.50
Joanne M Hayes-White      839788.50
Thomas Smith              831608.57
Ryan J Jones              824661.39
Frank Lee                 823942.97
Ellen G Moffatt           817504.82
KEVIN LEE                 809424.84
John Lee                  799287.73
David L Franklin          799045.86
Ana Gonzalez              795145.15
William Lee               794871.35
Harlan L Kelly-Jr         794616.56
Michael Lee               792816.38
Michael Wong              787388.08
Henry Yee                 785480.98
Steven  Lee               772100.81
                            ...
Simone Koga                   19.91
ANH LUU                       18.78
WALTER WILLIAMS               17.78
MARVA MOORE                   17.42
Guillermo A Rodriguez         16.19
Carlos J Hernadez             15.99
Kenneth Mackey                15.35
John Carajan                  12.90
Mengru  Chen                  12.14
Mouy  Him                     12.14
Chinaenye E Nwachukwu         12.14
Darius T Gardner              11.33
Roberto A Perez Lima          11.33
Arthur L Curry                10.67
MARCELLA TUCKER                8.86
ROCK CRAWFORD                  5.80
Nereida  Vega                  5.56
John Draper                    5.17
SERENA HUGHES                  4.17
Donald Clark                   1.91
JOE BROWN JR                   0.30
Charlene D Mccully             0.00
JOSEPHINE MCCREARY             0.00
KAUKAB MOHSIN                  0.00
PAULETTE ADAMS                 0.00
Mark W Mcclure                 0.00
Timothy E Gibson              -2.73
Mark E Laherty                -8.20
David P Kucia                -33.89
Joe Lopez                   -618.13
Name: TotalPayBenefits, Length: 110809, dtype: float64